<html>
    <head></head>
    <body>
        <form action='/videoupload', method="POST" enctype='multipart/form-data'>
            Width : <input type='number' name='width'><br>
            <!-- Height : <input type='text' name='height'><br>
            Time : <input type='text' name='time' placeholder='format(hh:mm:ss.000)'><br> -->
            <input type='file' name='video'><br>
            <input type='submit' value="Upload">
        </form>
    </body>
</html>